*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
}

.login-form{
    display:flex;
    flex-direction: column;
    
    align-items: center;
    margin: 80px auto;
    width:400px;
    height:550px;
    
    background-color: white;
    box-shadow: 5px 5px 12px 10px rgba(0,0,0,0.5);
}
.sub-header{
    margin-top: 55px;
    margin-bottom: 20px;
    color: orangered;
}
.form{
   margin-top: 20px;
}
.form label {
    display: flex;
    margin:  7px 7px ;
    font-size: 20px;
    

}
.form input{
    margin: 7px 7px;
    width:250px;
    height: 30px;
}
.button{
    margin-top:20px;
    margin-left: 6.5px;
}
.button button{
    padding:4.5px;
    font-size: 1.2rem;
}
.sign-link{
    margin-top: 20px;
    margin-left: 6.5px;
}
span a{
    text-decoration: none;
    color:orangered;
}
.button button:hover{
    background-color: orangered;
    cursor: pointer;
}
